# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/
venv/
env/

# Notebook checkpoints 
.ipynb_checkpoints/

# Model artifacts and weights 
# fine_tuned_t5_travel_geography/
*.safetensors
# *.pt
# *.ckpt
# *.bin

# IDE/editor directories
.vscode/

# Archive/legacy folders
hf_space_demo/
# Translations
*.mo
*.pot

# pyenv
.python-version







